# ID del Google Sheet (lo que va después de /d/ y antes de /edit en la URL)
# Ejemplo: https://docs.google.com/spreadsheets/d/ESTE_ES_EL_ID/edit
VITE_SHEET_ID=1aCIaRo6i6vNez6zsEwMzhuhgxFCLhc9zmwA6ohk3RVQ
